/* Dekstop Styles */

@media screen and  (min-width: 768px) {

  /* Move down main picture on homepage and numetry page */
    .main_background_desktop {
    padding-top: 128px;
  }

  /* Gobal Navigation */
  .header li {
    display: inline-block;
  }

  .header .navbar_links .navbar_text {
    padding: 20px 20px;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    text-decoration: none;
  }

  .header ul {
    height: auto;
    background-image: none;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 0em;
  }
  
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 1em;
    margin-top: 0.5em;
  }

  .header_logo {
    margin-top: 1em;
    display: inline-block;
  }

  .menu {
    display: none;
  }

  .navbar_section--1 {
   display: none;
  }

  .desktop_menu {
    display: inline-block;
  }

  .navbar_links:hover {
    border-bottom: 2px solid yellow;
  }

  .header_homepage {
    background-image: none;
  }

  .navbar_links {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0.5em;
    display: inline-block;
    padding: 0;
    border: 0;
  }

  .navbar_text {
    font-size: 24px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    text-align: center;
  }

  .header_button {
    width: 100px;
    margin-left: 0.5em;
    padding: 18px 37px 20px;
    background-color: yellow;
    border: none;
    border-radius: 100px;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    display: block;
  }

  .header_button:hover {
    opacity: 0.9;
    color: black;
  }

  .header {
    padding-bottom: 1em;
  }
  #desktop_navbar_active_dekstop {
    border: 0;
  }
  
  #desktop_navbar_active {
    border-bottom: 2px solid yellow;
  }
  /* Global Navigation END */


  /* Global Footer START */
   .footer_icons {
    width: 50px;
    height: 50px;
  }

   .footer, .footer_section--1 {
    text-align: left;
    padding-bottom: 1em;
  }

  .footer_container--1 {
    display: inline-block;
    margin-left: 2em;
    max-width: 280px;
    text-align: center;
  }
   .footer {
    padding-bottom: 1.5em;
  }

  /* Footer Navbar */
  .footer_container--2 {
    display: block;
    float: right;
    margin-top: 3em;
  }

  .footer_menu {
    list-style: none;
  }

  .footer_text_container--2 {
    text-decoration: none;
    font-size: 24px;
    color: white;
    padding: 20px 20px;
  }

  .footer_links_container--2 {
    text-decoration: none;
    display: inline-block;

  }

  .footer_text_container--2:hover {
    border-bottom: 2px solid yellow;
  }

  #footer_active_desktop {
    border: 0;
  }
  
  #footer_active {
    border-bottom: 2px solid yellow;
  }
  /* Footer Navbar END */
  /* Global Footer END */

  
  /* Homepage */
  .main_background_mobile {
    background-image: none;
  }

  .main_background_desktop {
    background-image: url("../assets/graphics/space-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .main_picture {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }

  .play_button {
    width: 150px;
    padding: 18px 37px 18px; 
    outline: none;
    color: black;
    cursor: pointer;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    background-color: yellow;
    border: none;
    border-radius: 100px;
    display: block;
  }

  .homepage_section {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
  }

  .homepage_container--1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 4em;
  }

  .homepage_img {
    display: none;
  }

  .homepage_desktop_img {
    display: block;
    margin-left: auto;  
    margin-right: auto;
  }

  .homepage_desktop_img--1 {
    margin-bottom: 4em;
  }

  .homepage_desktop_img--2 {
  }

  .homepage_desktop_img--3 {
    margin-bottom: 4.5em;
  }

  .homepage_desktop_img--4 {
    margin-bottom: 4.5em;
  }

  .homepage_educator_section--1 {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .homepage_container--1 h1 {
    padding-left: 0;
    padding-right: 0;
  }
  /* Homepage END */

  /* Numetry */
  .numetry_container--1 {
    padding-top: 3em;
    padding-bottom: 1em;
    background-color:rgb(24, 26, 27);
  }

  .numetry_section--1 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .videoplayer_container {
    box-shadow: 0px 0px 30px 0px black;
    background-color: rgb(51, 51, 51);
    margin-top: 5em;
    margin-bottom: 3em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    padding-bottom: 8em;
    padding-left: 5em;
    padding-right: 5em;
  }

  .videoplayer_container h1 {
    text-align: center;
    padding-top: 1em;
    border-bottom: 2px solid yellow;
    width: fit-content;
  }
  
  .videoplayer {
    padding-top: 2em;
  }

  .numetry_img--1 {
    width: 300px;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
    padding-right: 2em;
    float: left;
  }
  .numetry_img--2 {
    width: 250px;
    padding-top: 4em;
    padding-bottom: 2em;
    margin-top: 5em;
    padding-left: 2em;
    float: right;
  }
  .numetry_img--3 {
    width: 250px;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-top: -1em;
    padding-right: 2em;
    padding-left: 2em;
    float: left;
  }

  .numetry_container--1 p {
    margin-top: 5em;
    margin-bottom: 5em;
  }
  /* Numetry END */


  /* Updates */
  .updates_heading {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .updates_container--1 {
    margin: 0em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 5em;
  }

  .updates_section {
    width: 360px;
    height: 620px;
    display: inline-block;
    vertical-align: top;
    margin: 2em;
  }

  .updates_container--1 p, .meta, .readmore {
    text-align: left;
  }

  .updates_img--1 {
    margin-bottom: 9em;
  }

  .updates_img--2 {
    margin-bottom: 5.5em;
  }

  .updates_section--1 {
    padding-top: 3em;
  }
  /* Updates END */


  /* Articles */
  .article_img--2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    box-shadow: 0px 0px 25px 0px black;
  }

  .article-1_container {
    margin: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    margin-bottom: 8em;
  }

  .article-1_container h2 {
    font-size: 21pt;
  }

  .article-1_section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }


  /* Our Crew */ 
  .crew_container--2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
  }

  .crew_container--2 p {
    margin: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 15pt;
    margin-top: 3em;
  }

  .crew_container--2 h1 {
    margin-left: 0;
  }

  .crew_container--1 {
    text-align: center;
    margin-bottom: 4em;
  }

  .crew_container--1 h1 {
    margin-bottom: 1em;
  }
  
  .crew_container--1 p {
    text-align: left;
  }
  /* Crew END */


  /* About us */
  .about_container--1 {
    margin-bottom: 0em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
  }

  .about_container--1 h1 {
    margin-left: 0;
  }

  .about_container--1 p {
    margin: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 15pt;
    margin-top: 3em;
  }

  .section {
    width: 400px;
    min-height: 680px;
    display: inline-block;
    padding-top: 2em;
    margin: 2em;
    margin-top: 4em;
    vertical-align: top;
  }

  .desktop_updates_img--3 {
    opacity: .7;
    display: block;
  }

  .mobile_updates_img--3 {
    opacity: .7;
    display: none;
  }

  .to-bottom {
    float: right;
    margin-top: 5em;
    margin-right: 1.5em;
  }

  .about_to-bottom {
    margin-top: 10px;
  }

  .about_img--1 {
    width: 300px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: -1.5em;
    padding-right: 3em;
    float: left;
  }
  .about_img--2 {
    width: 300px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 12px;
    padding-left: 3em;
    float: right;
  }

  .about_container--1 p {
    margin-top: 5em;
    margin-bottom: 5em;
  }
  /* About us END */ 

  
  /* Contact page */ 
  .contact_header_2 {
    margin-bottom: 2.5em;
  }

  .contact_header_1 {
    margin-left: 0em;
  }
  .contact_icons {
    margin-bottom: 0.5em;
  }

  .contact_icons--1, .contact_icons--2 {
    margin-bottom: 1em;
  }

  .contact_section {
    display: inline-block;
    margin-right: 2em;
    text-align: center;
    width: 180px;
  }

  .contact_container--2 {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: left;
  }

  .contact_container--1 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_container--1 h1 {
    margin-left: 0em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .contact_container--1 h2 {
    margin-left: 0;
    margin-top: 2em;
  }

  .contact_container--1 p {
    margin-left: 0em;
  }

  .contact_img--2 {
  width: 300px;
  margin-left: 0;
  float: right;
  }


  .maps_container {
    width: 100%;
  }

  /* Style for contact - form */
  .input_box--1, .input_box--2 {
    width: 40%;
  }
  .contact_form {
    margin-left: 0em;
  }

  .contact_field {
    width: 80%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .formrow, input, textarea {
    margin-left: 0;
    margin-right: 0;
  }

  .send_button {
    width: 25%;
  }
  /* Contact page END */ 
}